<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>


</head>
<body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
<div id="main">
    {% block main %}
    {% endblock %}
</div>

</body>

</html>